* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}
header{
    position: relative;
    top: 0;
    height: 80px;
    left: 0;
    width: 100%;
    margin-top: 10px;

}

header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 2rem;
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.myname-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EE7023;
}

.myname{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.myname.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.myname.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
 
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    background-color: white ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #EE7023;
}

.step{
    display: none;
}

.step.active{
    display: block;
}

.form-group{
    width: 100%;
    margin-top: 20px;
}

.form-group input,select{
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.418);
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 4px;
}

button.next-btn,button.previous-btn,button.submit-btn{
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: rgba(180, 220, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

button.previous-btn{
    float: left;
}

button.submit-btn{
    background-color: aquamarine;
}
.quiz{
    margin-top: 15px;
    margin-bottom: 15px;
}
.starColor{
    color: red;
}
.txtArea{
    width: 100%;
}
.headingOne{
    margin-top: 15px;
}
.mainHeader{
    text-align: center; 
    color: #EE7023;
}
.taskHeader{
    text-decoration: none; 
    color: #EE7023;
}
#nameError {
    display: none;
    font-size: 0.8em;
  }
  
  #nameError.visible {
    display: block;
  }
  
  input.invalid {
    border-color: red;
  }
  .content-table{
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      min-height: 10vh;
      width: 100%;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, blue0, 0.15);
  }
  .content-table thead tr{ 
      text-align: left;
      font-weight: bold;
  }
  .content-table th, .content-table td {
      padding: 12px 15px;
  }
  .content-table tbody tr{
      border-bottom: 1px solid lightgray;
  }
  .content-table tbody tr:nth-of-type(even){
      background-color: #f3f3f3;
  }
  .content-table tbody tr:last-of-type{
      border-bottom:  2px solid  #EE7023;
      ;
  }
  .content-table tbody tr.active-row{
      font-weight: bold;
      color: #EE7023;
  }

